@font-face {
font-family: 'Lato';
font-style: normal;
font-weight: 100;
src: url(https://fonts.gstatic.com/s/lato/v23/S6u8w4BMUTPHh30AUi-qJCY.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
} 

@font-face {
font-family: 'Lato';
font-style: normal;
font-weight: 100;
src: url(https://fonts.gstatic.com/s/lato/v23/S6u8w4BMUTPHh30AXC-q.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*{
	margin: 0;
	padding: 0;
}
section{
	width: 100%;
	height: 100vh;
	color: #fff;
	background: linear-gradient(-45deg, #000000, #350000, #6a0000, #787878,#53c4ba, #348595,  #ffffff);
	background-size: 400% 400%; 
	position: relative;
	animation: change 5s ease-in-out infinite;
	a{
		text-decoration: none;
	}
	display: flex;
	justify-content: space-around;
	align-items: center;
}
@keyframes change {
	0% {
		background-position: 0 50%; 
	}	
	50% {
		background-position: 100% 50%; 
	}
	100% {
		background-position: 0 50%; 
	}
}
//	BUTTON Settings

.glow-on-hover {
	font-size: calc(100% + 25px);
    width: 440px;
    height: 100px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:hover {
    color: #000
}

.glow-on-hover:hover:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
